{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  <!metadata for browsers which sets the character encoding>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!metadata for browsers to read information about screen resolution>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet/dist/leaflet.css" crossorigin=""/>  <!for maps>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js" crossorigin=""></script>  <!for maps>
    <title>Geodata</title>
</head>


<body>

    <div class="wrap-content">

       <header class="page-header wrapper">
            <nav class="page-header__nav">

                <a class="site-logo link-clear" href="/">  <!link to a home(start) page>
                    <img src="{% static 'images/sniper-2.png' %} " alt="logo" style="height: 70px; width: 70px">
                    <p>GEODATA <br> PROCESSING <br> SYSTEM</p>
                </a>


                {% block authorisation_buttons %}

                    <ul class="site-nav list-clear">


                        {% if user.is_authenticated %}

                            <li class="site-nav__item site-nav__item-text">
                                <a href="/agent_info" class="site-nav__link site-nav__link--underline link-clear">Hi {{ user.get_username }}</a>
                            </li >

                            <li class="site-nav__item site-nav__item-text">
                                <a href="{% url 'logout'%}?next=/" class="site-nav__link site-nav__link--underline link-clear">Logout</a>
                            </li >


                        {% else %}

                            <li class="site-nav__item site-nav__item-text">
                                <a href="/auth_app/accounts/login" class="site-nav__link site-nav__link--underline link-clear">Login</a>
                            </li >

                            <li class="site-nav__item site-nav__item-text">
                                <a href="/auth_app/accounts/signup " class="site-nav__link site-nav__link--underline link-clear">SignUp</a>
                            </li>

                        {% endif %}

                    </ul>
                {% endblock authorisation_buttons %}

            </nav>
       </header>


        <main class="wrapper">
            {% block home_button %}

            {% endblock home_button %}

            {% block data_transfer_button %}

            {% endblock data_transfer_button %}

            {% block content %}

            {% endblock content %}

            {% block target_list %}

            {% endblock target_list %}

            {% block map %}

            {% endblock map %}

            {% block need_to_signup %}

            {% endblock need_to_signup %}

        </main>

        <footer class="footer wrapper">
            <ul class="site-nav list-clear">

                {% if user.is_authenticated %}
                {% if perms.geo_base.can_view_position %}

                    <li class="site-nav__item site-nav__item-text">
                        <a href="/geo_base/position" class="site-nav__link site-nav__link--underline link-clear">go to your position page</a>
                    </li >

                {% endif %}
                {% endif %}

                <li class="site-nav__item site-nav__item-text">
                    <a href="/geo_base/data_transfer" class="site-nav__link site-nav__link--underline link-clear">go to data transfer page</a>
                </li>

                <li class="site-nav__item site-nav__item-text">
                    <a href="/" class="site-nav__link site-nav__link--underline link-clear">go to start page</a>
                </li>

            </ul>

        </footer>
    </div>
</body>

</html>
