{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start - Geodata</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet/dist/leaflet.css" crossorigin=""/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js" crossorigin=""></script>
</head>

<body>
{% block home_button %}

{% endblock home_button %}

<h3>
    WELLCOME TO <br>GEODATA <br>PROCESSING SYSTEM
</h3>

<div>
    <img src="{% static 'images/sniper-2.png' %} " alt="logo" style="height: 70px; width: 70px">
</div>

{% block data_transfer_button %}

{% endblock data_transfer_button %}

{% block content %}

{% endblock content %}

{% block target_list %}

{% endblock target_list %}

{% block map %}

{% endblock map %}


</body>
</html>