{% extends 'base.html' %}
{% load static %}

{% block home_button %}
<form action="/">
    <input type="submit" value="home"/>
</form>
{% endblock %}

{% block content %}
<div>
    <p>Enter target's data</p>
    <form>
        Target type<input list="target_type"  placeholder="type of target" required><br>
            <datalist id="target_type">
                <option>Military personnel</option>
                <option>Command post</option>
                <option>Military equipment</option>
            </datalist>
        Latitude <input type="text" name="latitude" required ><br>
        Longitude <input type="text" name="longitude" required ><br>
        Comment <input type="text" name="additional"><br>

    <input type="submit" value="SEND">
    </form>
</div>
{% endblock %}
