{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div>
        <p>ENTER YOUR COORDINATES</p>

        <form id="position" method="POST" action="{% url 'position_page' %}">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="SUBMIT">
        </form>

    </div>

{% endblock %}


{% block target_list %}

    <div>
        <h2>{{ target_msg }}</h2>
    </div>


    {% if target_msg == "*баш їх, бл***!" %}

    <div>
        <table>

            <tr>
                <th>Icon</th>
                <th>Target type<button form="position" name="sort_id" value="type ascending">&#x25b4;</button><button form="position" name="sort_id" value="type descending">&#x25be;</button></th>
                <th>Distance (km)<button form="position" name="sort_id" value="distance ascending">&#x25b4;</button><button form="position" name="sort_id" value="distance descending">&#x25be;</button></th>
                <th>Date/time<button form="position" name="sort_id" value="created ascending">&#x25b4;</button><button form="position" name="sort_id" value="created descending">&#x25be;</button></th>
                <th>Importance<button form="position" name="sort_id" value="importance ascending">&#x25b4;</button><button form="position" name="sort_id" value="importance descending">&#x25be;</button></th>
                <th>Agents<button form="position" name="sort_id" value="user ascending">&#x25b4;</button><button form="position" name="sort_id" value="user descending">&#x25be;</button></th>
            </tr>

            <p>Calculated for coordinates: <br> Latitude:  {{ combat_object.latitudeC}} <br>Longitude: {{combat_object.longitudeC}}</p>
            {% for target in sorted_targets %}

                <tr>
                    <td><img src={{ target.target_img_path }} alt="Target image" class="table_image"></td>
                    <td>{{ target.type }}</td>
                    <td>{{ target.distance }}</td>
                    <td>{{ target.created }}</td>
                    <td>{{ target.importance }}</td>
                    <td>{{ target.user }}</td>
                </tr>

            {% endfor %}

        </table>
    </div>

    {% endif %}


{% endblock %}


{% block map %}

    <div class="map-wrapper">

        <div id="map">
            <script src="{% static 'map.js' %}" defer></script>
            <script src="{% static './targets.js' %}"></script>
            <script src="{% static './locationsC.js' %}"></script>
        </div>

        <div>
            <div class="wmap-wrapper">

                {% if combat_object.latitudeC %}
                    <iframe width="650" height="450" src="https://embed.windy.com/embed2.html?lat={{ combat_object.latitudeC }}&lon={{ combat_object.longitudeC }}&detailLat={{ combat_object.latitudeC }}&detailLon={{ combat_object.longitudeC }}&width=650&height=450&zoom=14&level=surface&overlay=wind&product=ecmwf&menu=&message=true&marker=true&calendar=12&pressure=&type=map&location=coordinates&detail=&metricWind=m%2Fs&metricTemp=%C2%B0C&radarRange=-1" frameborder="0"></iframe>

                {% else %}
                    <iframe width="650" height="450" src="https://embed.windy.com/embed2.html?lat=47.484&lon=36.120&detailLat=47.484&detailLon=36.120&width=650&height=450&zoom=10&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe>

                {% endif %}

            </div>
        </div>

    </div>

{% endblock %}
