{% extends 'base.html' %}
{% load static %}


{% block home_button %}

    <form action="/">
        <input type="submit" value="home"/>
    </form>

{% endblock %}


{% block content %}

    <div>
        <p>ENTER YOUR COORDINATES</p>

        <form  method="POST" action="{% url 'position_page' %}">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="SUBMIT">
        </form>

    </div>

{% endblock %}


{% block target_list %}

    <div>
        <h2>{{ target_msg }}</h2>
    </div>


    <div>

        <table>

            <tr>
                <th>Image</th>
                <th>Target type</th>
                <th>Distance (km)</th>
                <th>Date/time</th>
                <th>Agents</th>
            </tr>

            {% for target in target_objects %}

                <tr>
                    <td><img src={{ target.target_img_path }} alt="Target image" class="table_image"></td>
                    <td>{{ target.type }}</td>
                    <td>{{ target.distance }}</td>
                    <td>{{ target.created }}</td>
                    <td>{{ target.user }}</td>
                </tr>

            {% endfor %}

        </table>
    </div>

{% endblock %}


{% block map %}

    <div id="map">
        <script src="{% static 'map.js' %}" defer></script>
        <script src="{% static './targets.js' %}"></script>
        <script src="{% static './locationsC.js' %}"></script>
    </div>

    <div>

        {% if combat_object.latitudeC %}

            <iframe width="650" height="450" src="https://embed.windy.com/embed2.html?lat={{ combat_object.latitudeC }}&lon={{ combat_object.longitudeC }}&detailLat={{ combat_object.latitudeC }}&detailLon={{ combat_object.longitudeC }}&width=650&height=450&zoom=14&level=surface&overlay=wind&product=ecmwf&menu=&message=true&marker=true&calendar=12&pressure=&type=map&location=coordinates&detail=&metricWind=m%2Fs&metricTemp=%C2%B0C&radarRange=-1" frameborder="0"></iframe>

        {% else %}
            <iframe width="650" height="450" src="https://embed.windy.com/embed2.html?lat=47.484&lon=36.120&detailLat=47.484&detailLon=36.120&width=650&height=450&zoom=10&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe>

        {% endif %}

    </div>


{% endblock %}
