{% extends 'base.html' %}
{% load static %}


    {% block content %}

        <h2 class="page-header__slogan-title page-header__title-text position-center text-title"> WELLCOME TO</h2>
        <h1 class="page-header__slogan page-header__text position-center text-subtitle">GEODATA <br>PROCESSING SYSTEM</h1>

        <div class="start-nav list-clear">

            <div class="start-nav__item start-nav__item-text">
                <a class="start-nav__link start-nav__link--underline link-clear" href="/geo_base/data_transfer">Send data without authorisation</a>
            </div>

        </div>

    {% endblock content %}
